<template>
<div>
<head-nav></head-nav>
  <div class="container">
    <div class="content">
      <div v-if="!create">
        <table style="margin-top:50px;">
          <tr>
            <th>ID</th>
            <th>Local</th>
            <th>Foreign</th>
            <th>Bank</th>
            <th>Account</th>
            <th>Email</th>
            <th>Balance</th>
            <th>Allocated</th>
            <th>Status</th>
            <!-- <th>Delete</th> -->
          </tr>
          <tr
            style="cursor:pointer"
            v-for="(b, index) in broker_settlement_account"
            :key="b.id"
          >
            <td># {{ index+1 }}</td>
            <td>{{b.local_broker["name"] }}</td>
            <td>{{b.foreign_broker["name"] }}</td>
            <td>{{ b.bank_name }}</td>

            <td>{{b.account}}</td>
            <td>{{ b.email }}</td>

            <td>{{ b.account_balance }}</td>
            <td>{{ b.amount_allocated }}</td>
            <td v-if="b.status === 0">Disabled</td>
            <td v-if="b.status === 1">Active</td>
            <td v-if="b.status === 2">Configuring</td>
            <!-- <td @click="destroy(b.id)"><strong>-</strong></td> -->
          </tr>
        </table>
      </div>
      <div v-if="create">
        <select
          name="LocalBrokers"
          required
          v-model="settlement_account.local_broker_id"
        >
          <option>Select Local Broker</option>
          <option v-for="lb in local_brokers" :key="lb.id" :value="lb.id">{{
            lb.name
          }}</option>
        </select>
        <select
          name="ForeignBrokers"
          required
          v-model="settlement_account.foreign_broker_id"
        >
          <option>Select Foreign Broker</option>
          <option v-for="fb in foreign_brokers" :key="fb.id" :value="fb.id">{{
            fb.name
          }}</option>
        </select>
        <input
          v-model="settlement_account.bank_name"
          type="text"
          name="bank"
          placeholder="Bank Name"
        />
        <input
          v-model="settlement_account.account"
          type="text"
          name="account"
          placeholder="Account"
        />
        <input
          v-model="settlement_account.email"
          type="email"
          name="email"
          placeholder="account@email.com"
        />
        <p>
          Account Balance:
          <input
            v-model="settlement_account.account_balance"
            type="text"
            name="balanace"
            placeholder="0.00 USD"
            value="0.00"
            disabled
          />
        </p>
        <p>
          Amount Allocated:
          <input
            v-model="settlement_account.amount_allocated"
            type="text"
            name="allocated"
            placeholder="0.00 USD"
            value="0.00"
            disabled
          />
        </p>
                  <input
            v-model="settlement_account.umir"
            type="text"
            name="Umir"
            placeholder="UMIR-1234"
          />
          <input
            v-model="settlement_account.target_comp_id"
            type="text"
            name="TargetCompID"
            placeholder="TargetCompID"
          />
          <input
            v-model="settlement_account.sender_comp_id"
            type="text"
            name="SenderCompID"
            placeholder="SenderCompID"
          />
          <input v-model="settlement_account.socket" type="text" name="socket" placeholder="Socket" />
          <input v-model="settlement_account.port" type="text" name="port" placeholder="Port" />
      </div>

      <button v-if="!create" class="pull-right" @click.prevent="create = true">
        New Account
      </button>
      <button
        v-if="create"
        class="pull-right"
        @click.prevent="storeLocalBroker()"
      >
        Save
      </button>
    </div>
  </div>
</div>
</template>
<script lang="ts">
import axios from "axios";
import headNav from './partials/Nav';
export default {
  components: {
    'head-nav': headNav
  },
  data() {
    return {
      create: false,
      broker_settlement_account: [],
      settlement_account: {},
      local_brokers: [],
      foreign_brokers: []
    };
  },
  methods: {
    setLocalBroker() {
      // console.log(this);
    },
    getSettlementList() {
      axios.get("../settlement-list").then(response => {
        let data = response.data;
        console.log(data);
        this.broker_settlement_account = data;

      });
    },
    storeLocalBroker() {
      axios
        .post("../store-settlement-broker", this.settlement_account)
        .then(response => {
          this.getSettlementList();
          this.create = false;
          this.getSettlementList();
        })
        .catch(error => {});
    },
    add() {
      this.create = true;
    },
    destroy(id) {
      axios.delete(`local-broker-delete/${id}`).then(response => {
        this.getSettlementList();
      });
    }
  },
  mounted() {
    axios.get("../local-brokers").then(response => {
      let data = response.data;
      this.local_brokers = data;
    });
    axios.get("../foreign-brokers").then(response => {
      let data = response.data;
      this.foreign_brokers = data;
    });

    this.getSettlementList();
  }
};
</script>
