<template>
  <div>
    <head-nav></head-nav>
    <div class="container">
      <h1>Current Broker Clients</h1>
      <div class="content">
        <div v-if="!create">
          <b-table striped hover :items="clients"></b-table>
        </div>
        <div v-if="create">
          <input
            v-model="client.name"
            type="text"
            name="name"
            placeholder="NCB"
          />
          <input
            v-model="client.email"
            type="email"
            name="email"
            placeholder="client@ncb.com"
          />
        </div>

        <button
          v-if="!create"
          class="pull-right"
          @click.prevent="create = true"
        >
          Add client
        </button>
        <button
          v-if="create"
          class="pull-right"
          @click.prevent="storeclient()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import axios from "axios";
import headNav from "./../partials/Nav";
export default {
  components: {
    headNav
  },
  data() {
    return {
      create: false,
      clients: []
    };
  },
  methods: {
    getclients() {
      axios.get("/broker/get-users").then(response => {
        let data = response.data;
        this.clients = data;
      });
    },
    storeclient() {
      axios
        .post("/store-local-client", this.client)
        .then(response => {
          this.getclients();
          console.log(response);
          this.create = false;
          this.getclients();
        })
        .catch(error => {});
    },
    add() {
      this.create = true;
    },
    destroy(id) {
      axios.delete(`/local-client-delete/${id}`).then(response => {
        this.getclients();
      });
    }
  },
  mounted() {
    this.getclients();
  }
};
</script>
