<template>
  <div>
    <head-nav></head-nav>
    <div class="container">
      <h1>Current Orders</h1>
      <div class="content">
        <b-table
          id="my-table"
          :items="broker_client_orders"
          :per-page="perPage"
          :current-page="currentPage"
          small
          :fields="fields"
        ></b-table>
        <div v-if="!create"></div>
        <b-modal
          id="modal-prevent-closing"
          ref="modal"
          @ok="handleJSEOrder"
          title="New Order"
        >
          <form ref="form">
            <b-form-group
              label="Local Broker"
              label-for="broker-input"
              invalid-feedback="Local Broker is required"
            >
              <b-form-select
                v-model="order.local_broker"
                :options="local_broker.name"
                class="mb-3"
              >
                <!-- This slot appears above the options from 'options' prop -->
                <template v-slot:first>
                  <b-form-select-option :value="null" disabled
                    >-- Please select a Local Broker --</b-form-select-option
                  >
                </template>
                <b-form-select-option
                  v-for="b in local_broker"
                  :value="b.id"
                  :key="b.id"
                  >{{ b.name }}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
            <b-form-group
              label="Foreign Broker"
              label-for="foreign-broker-input"
              invalid-feedback="Foreign Broker is required"
            >
              <b-form-select
                v-model="order.foreign_broker"
                :options="foreign_broker"
                class="mb-3"
              >
                <!-- This slot appears above the options from 'options' prop -->
                <template v-slot:first>
                  <b-form-select-option :value="null" disabled
                    >-- Please select a Foreign Broker --</b-form-select-option
                  >
                </template>
                <b-form-select-option
                  v-for="f in foreign_broker"
                  :value="f.id"
                  :key="f.id"
                  >{{ f.name }}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
            <b-form-group
              label="Order Type"
              label-for="type-input"
              invalid-feedback="Order Type is required"
            >
              <b-form-select v-model="selected" class="mb-3">
                <!-- This slot appears above the options from 'options' prop -->
                <template v-slot:first>
                  <b-form-select-option v-model="order.type" disabled
                    >-- Choose an Order Type --</b-form-select-option
                  >
                </template>

                <!-- These options will appear after the ones from 'options' prop -->
                <b-form-select-option value="BUY">BUY</b-form-select-option>
                <b-form-select-option value="SELL">SELL</b-form-select-option>
              </b-form-select>
            </b-form-group>
            <b-form-group
              label="Symbol"
              label-for="order-input"
              invalid-feedback="Symbol is required"
            >
              <b-form-select v-model="order.symbol" class="mb-3">
                <!-- This slot appears above the options from 'options' prop -->
                <template v-slot:first>
                  <b-form-select-option :value="null" disabled
                    >-- Please select a Symbol --</b-form-select-option
                  >
                </template>

                <!-- These options will appear after the ones from 'options' prop -->
                <b-form-select-option value="JMMB">JMMB</b-form-select-option>
                <b-form-select-option value="138LSR"
                  >138LSR</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
            <b-form-group
              label="Price"
              label-for="order-input"
              invalid-feedback="Price is required"
            >
              <b-input-group size="md" prepend="$" append=".00">
                <b-form-input></b-form-input>
              </b-input-group>
            </b-form-group>
          </form>
        </b-modal>
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
        <button
          v-if="!create"
          class="pull-right"
          v-b-modal.modal-prevent-closing
        >
          Create New Order
        </button>
        <button
          v-if="create"
          class="pull-right"
          @click.prevent="storeBrokerClientAccount()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import axios from "axios";
import headNav from "./../partials/Nav";
export default {
  props: ["orders"],
  components: {
    headNav
  },
  data() {
    return {
      local_broker: [],
      foreign_broker: [],
      selected: null,
      options: [
        { value: "A", text: "Option A (from options prop)" },
        { value: "B", text: "Option B (from options prop)" }
      ],
      create: false,
      order: {
        local_broker: "",
        foreign_broker: "",
        type: "",
        symbol: "",
        price: ""
      },
      fields: [
        "local_broker",
        "order_date",
        "order_type",
        "symbol",
        "order_quantity",
        "price",
        "order_status",
        "foreign_broker"
      ],
      broker_client_orders: JSON.parse(this.orders),
      broker: {},
      perPage: 3,
      currentPage: 1,
      new_order_fields: {
        Name: "",
        Account: "",
        ClOrdID: "",
        ExecInst: "",
        HandlInst: "",
        OrderQty: "",
        OrdType: "",
        Price: "",
        Side: "",
        Symbol: "",
        TimeInForce: "",
        TransactTime: "",
        FuttSettDate: "",
        SymbolSfx: "",
        StopPx: "",
        ExDestination: "",
        ClientID: "", // When puchasing on the foreign markets the UMIR of the BUY SELL Must be mapped to this field
        MinQty: "",
        MaxFloor: "",
        LocateReqd: "",
        PegOffset: "",
        Country: "",
        ExpireDate: "",
        Text: "",
        TCMConstraints: "",
        Bypass: "",
        NCIB: "",
        MinInteractionSize: "",
        AccountSell: "",
        AccountType: "",
        AccountTypeSell: "",
        ProgramTrade: "",
        BasketTrade: "",
        CrossType: "",
        Jitney: "",
        Anonymous: "",
        RegulationId: "",
        RegulationIdSell: "",
        SettlementTerms: "",
        ItemNumber: "",
        NonResident: "",
        NoTradeFeat: "",
        NoTradeKey: "",
        PostOnlyPegType: "",
        ShortMarkingExem: "",
        SeekDarkLiquidity: "",
        LongLife: "",
        DisplayRange: "",
        MAQMatchType: "",
        MatchingStateParticipation: "",
        AggressiveStrategy: "",
        QuotePrioritizationStrategy: "",
        DirectRoute: "",
        RouteInterlisted: "",
        DarkRouting: "",
        PrimaryBookOnly: ""
      }
    };
  },
  computed: {
    rows() {
      return this.broker_client_orders.length;
    }
  },
  methods: {
    getBrokers() {
      axios.get("broker-list").then(response => {
        let data = response.data;
        this.local_broker = data;
        // this.broker_client_orders = data;
      });
      axios.get("foreign-broker-list").then(response => {
        this.foreign_broker = response.data;
      });
    },
    storeBrokerClientAccount() {
      axios
        .post("store-broker-client-order", this.broker)
        .then(response => {
          this.getBrokers();
          console.log(response);
          this.create = false;
          this.getBrokers();
        })
        .catch(error => {});
    },
    add() {
      this.create = true;
    },
    destroy(id) {
      axios.delete(`local-broker-delete/${id}`).then(response => {
        this.getBrokers();
      });
    },
    handleJSEOrder() {
      console.log(this.order);
    }
  },
  mounted() {
    this.getBrokers();
  }
};
</script>
