<template>
  <div>
    <head-nav></head-nav>
    <div class="container">
      <div class="content">
        <h1>Current Broker Users</h1>
        <div v-if="!create">
          <b-table striped hover :items="users"></b-table>
        </div>
        <div v-if="create">
          <input
            v-model="user.name"
            type="text"
            name="name"
            placeholder="NCB"
          />
          <input
            v-model="user.email"
            type="email"
            name="email"
            placeholder="user@ncb.com"
          />
        </div>

        <button
          v-if="!create"
          class="pull-right"
          @click.prevent="create = true"
        >
          Add User
        </button>
        <button
          v-if="create"
          class="pull-right"
          @click.prevent="storeUser()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import axios from "axios";
import headNav from "./../partials/Nav";
export default {
  props:['broker_users'],
  components: {
    headNav
  },
  data() {
    return {
      create: false,
      users: []
    };
  },
  methods: {
    getUsers() {
      axios.get("/broker/get-users").then(response => {
        let data = response.data;
        this.users = data;
      });
    },
    storeUser() {
      axios
        .post("/store-local-user", this.user)
        .then(response => {
          this.getusers();
          console.log(response);
          this.create = false;
          this.getUsers();
        })
        .catch(error => {});
    },
    add() {
      this.create = true;
    },
    destroy(id) {
      axios.delete(`/local-user-delete/${id}`).then(response => {
        this.getUsers();
      });
    }
  },
  mounted() {
    this.getUsers();
    console.log(this);
  }
};
</script>
