<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">JSE</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav v-if='user_role === "admin"'>
        <b-nav-item href="/jse-admin/foreign-broker-list">Foreign Broker List</b-nav-item>
        <b-nav-item href="/jse-admin/local-broker-list ">Local Broker List</b-nav-item>
        <b-nav-item href="/jse-admin/settlements/">Broker Settlement Account</b-nav-item>
        <b-nav-item href="/jse-admin/broker-2-broker">Broker 2 Broker</b-nav-item>
      </b-navbar-nav>

      <b-navbar-nav v-if='user_role === "broker"'>
        <b-nav-item href="/broker">Home</b-nav-item>
        <!-- <b-nav-item href="/broker/company/">Company</b-nav-item> -->
        <b-nav-item href="/broker/users">Users</b-nav-item>
        <b-nav-item href="/broker/clients">Clients</b-nav-item>
        <b-nav-item href="/broker/orders">Orders</b-nav-item>
        <!-- <b-nav-item href="/broker/spprovals">Approval Request List</b-nav-item> -->
        <!-- <b-nav-item href="/broker/log">Audit Log List</b-nav-item> -->
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>{{ user_name }}</em>
          </template>
          <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
          <b-dropdown-item href="/logout">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      user_data: [],
      user_name: [],
      user_role: [],
    };
  },
  mounted() {
    axios.put(`/nv9w8yp8rbwg4t`).then(response => {
      let data = response.data[0];
      let role = data.roles[0];
      this.user_name = data.name;
      this.user_role = role.name;
    });
  },
  methods: {}
};
</script>
